# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out
gen
target
/target
.gradle/
build
gradle/
gradlew*